@page
@model ContosoPizza.Pages.PizzaListModel
@{
    ViewData["Title"] = "Lista de Pizza 🍕";
}

<div class="text-center">
    <h1>Lista de Pizza 🍕</h1>
</div>

<!-- Form de new pizza, aquí... -->


<!-- Lista de pizzas, aquí... -->
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Size</th>
            <th scope="col">Gluten Free</th>
            <th scope="col">delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pizza in Model.PizzaList)
        {
            <tr>
                <td>@pizza.Name</td>
                <td>@($"{pizza.Price:C}")</td>
                <td>@pizza.Size</td>
                <td>@(pizza.IsGlutenFree ? "✔" : string.Empty)</td>
                <td>
                    <form method="post" asp-asp-page-handler="Delete" asp-route-id="@pizza.Id">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>